---
title: Alex Tran
overrideBaseTitle: true
showNewsletter: true
layout: layouts/base.njk
---

<div class="homepage-content center stack gap-xl" style="--center-max: 65ch; padding-block: var(--s3)">
    {# Hero #}
    <header class="stack gap-sm">
        <p class="text-lg color-muted">Howdy!</p>
        <h1 class="text-2xl font-bold">Some relevant bits ...</h1>
    </header>

    {# Bio Box #}
    <section class="intro-box stack gap-md">
        <p class="text-lg leading-tight">
       		I'm currently learning to embrace my identity as a child of God. But past and present identities include:
        </p>
        <ul>
        		<li>A sporadic writer aspiring to occasionally consistent levels. 📈</li>
            <li>An emerging 35+ pro pickleball player. 🤣</li>
            <li>A 20-year stretch in full-time church ministry (across two churches). ⛪</li>
            <li>An early retiree (this year at 44). 🙈</li>
            <li>AI pegs me as "an intellectual soul with a servant’s heart." 🤖</li>
        </ul>
        <p>I add a touch more color on my <a href="/now/">newly minted Now page</a>.</p>
    </section>

    {# Featured Posts #}
    <section class="stack gap-md" style="--stack-space: var(--s3);">
        <h2 class="text-base uppercase font-medium section-heading font-base" data-weight="medium">Featured</h2>
        {% set postcards = collections.featured %}
        {% set postcards_style = "featured" %}
        {% set postcards_limit = 3 %}
        {% include "partials/post-cards.njk" %}
        <a href="/tags/featured/" class="width-fit" style="--stack-space: var(--s-3);">See all featured</a>
    </section>

    {# Recent Posts #}
    <section class="stack gap-md" style="--stack-space: var(--s3);">
        <h2 class="text-base uppercase font-medium section-heading font-base" data-weight="thin">Latest</h2>
        {% set postcards = collections.posts %}
        {% set postcards_style = "default" %}
        {% set postcards_limit = 5 %}
        {% include "partials/post-cards.njk" %}
        <a href="/blog/" class="width-fit" style="--stack-space: var(--s-3);">See all posts</a>
    </section>
</div>
