<footer class="site-footer">
    <div class="container">
        <nav class="footer-nav switcher" style="--switcher-threshold: 35rem; --switcher-space: var(--s2); align-items: flex-end;">
            <div class="stack" style="--stack-space: var(--s-2);">
                <span class="footer-label uppercase">Connect</span>
                <div class="cluster" style="--cluster-space: var(--s-3); --stack-space: 0;">
                    <a href="https://instagram.com/byalextran" target="_blank">Instagram</a>
                    <a href="https://github.com/byalextran" target="_blank">GitHub</a>
                    <a href="/contact/">Contact</a>
                </div>
            </div>
            <div class="stack footer-legal color-muted" style="--stack-space: var(--s-2);">
                <span class="footer-label uppercase">Bits</span>
                <div class="cluster" style="--cluster-space: var(--s-3); --stack-space: 0;">
                <a class="color-muted" href="/colophon/">Colophon</a>
                <a class="color-muted" href="/affiliate-disclaimer/">Affiliate Disclaimer</a>
                <a class="color-muted" href="/privacy-policy/">Privacy Policy</a>
                </div>
            </div>
        </nav>
    </div>
</footer>
