<footer class="site-footer">
    <div class="container stack gap-lg">
        <div class="switcher" style="--switcher-threshold: 40rem">
            <nav class="stack">
                <h3>Connect</h3>
                <a href="https://instagram.com/byalextran" target="_blank">Instagram</a>
                <a href="https://github.com/byalextran" target="_blank">GitHub</a>
            </nav>

            <nav class="stack">
                <h3>Site</h3>
                <a href="/about/">About</a>
                <a href="/blog/">Archive</a>
                <a href="/tags/">Tags</a>
            </nav>
        </div>

        <div class="footer-bottom cluster" style="--cluster-justify: space-between">
            <p class="color-muted">&copy; {{ page.date.getFullYear() }} {{ metadata.title }}. All rights reserved.</p>
            <p class="color-muted">Built with <a href="https://www.11ty.dev/" target="_blank">Eleventy</a></p>
        </div>
    </div>
</footer>
