<section class="newsletter">
    <div class="center stack">
        <h2>Stay in Touch</h2>
        <p style="--stack-space: var(--s-3);">Get the latest articles delivered straight to your inbox.</p>
        {% include "partials/subscribe-form.njk" %}
    </div>
</section>
