<section class="newsletter">
    <div class="center stack">
        <h2>Get Email Updates</h2>
        <p style="--stack-space: var(--s-3);">I write about a hodgepodge of things. Much of it is what God’s teaching me—hopefully it encourages you, too. I also enjoy deep diving into product recommendations, reviews, and other random but useful nuggets.</p>
        {% include "partials/subscribe-form.njk" %}
    </div>
</section>
