<section class="newsletter">
    <div class="center stack">
        <h2>Join the Journey</h2>
        <p style="--stack-space: var(--s-3);">Actionable spirituality and lifestyle optimization for the thoughtful practitioner. On a quest to make life and faith feel deeply satisfying.</p>
        {% include "partials/subscribe-form.njk" %}
    </div>
</section>
