---
title: Lately Archive
permalink: /lately/archive/
---

{% set entries = collections.lately | reverse %}

{% if entries.length %}
<ul>
	{% for entry in entries %}
	<li>
		<a href="{{ entry.url }}">{{ entry.date | readableDate("LLLL d, yyyy") }}</a>
	</li>
{% endfor %}
</ul>
{% else %}
<p>No Lately entries yet.</p>
{% endif %}
