---
permalink: /_redirects
layout: false
eleventyExcludeFromCollections: true
---
/go/maltodextrin    https://amzn.to/44G08gh 302
/go/maltodextrin/   https://amzn.to/44G08gh 302
/go/fructose    https://amzn.to/3Fb28m4 302
/go/fructose/   https://amzn.to/3Fb28m4 302
/go/sodiumcitrate   https://amzn.to/43dVXWv 302
/go/sodiumcitrate/  https://amzn.to/43dVXWv 302
/go/lemoncrystals   https://amzn.to/4iX47IN 302
/go/lemoncrystals/  https://amzn.to/4iX47IN 302
/go/kitchenscale    https://amzn.to/43dW703 302
/go/kitchenscale/   https://amzn.to/43dW703 302
/go/pigma-micron-colors-005 https://amzn.to/4kbyxI1 302
/go/pigma-micron-colors-005/    https://amzn.to/4kbyxI1 302
/go/pigma-micron-colors-01  https://amzn.to/3YIYS8e 302
/go/pigma-micron-colors-01/ https://amzn.to/3YIYS8e 302
/go/pigma-micron-black  https://amzn.to/3ZczesC 302
/go/pigma-micron-black/ https://amzn.to/3ZczesC 302
/go/search-pigma-micron    https://amzn.to/43drNT4 302
/go/search-pigma-micron/    https://amzn.to/43drNT4 302
/go/search-premier-illustration    https://amzn.to/3F915Df 302
/go/search-premier-illustration/    https://amzn.to/3F915Df 302
/go/search-pigment-liner   https://amzn.to/3EPVSjP 302
/go/search-pigment-liner/   https://amzn.to/3EPVSjP 302
/go/search-multiliner-sp   https://amzn.to/3S16384 302
/go/search-multiliner-sp/   https://amzn.to/3S16384 302

{%- for page in collections.all -%}
{%- if page.url and page.data.redirectFrom -%}
{%- for oldUrl in page.data.redirectFrom %}
{{ oldUrl }}    {{ page.url }}  301
{%- endfor %}
{%- endif -%}
{%- endfor -%}
