---
title: Get Email Updates
description: Subscribe and know when I post something new.
showNewsletter: false
---

<p>I write about a hodgepodge of things. Much of it is what God’s teaching me—hopefully it encourages you, too. I also enjoy deep diving into product recommendations, reviews, and other random but useful nuggets.</p>

{% include "partials/subscribe-form.njk" %}
