---
permalink: /_redirects
eleventyExcludeFromCollections: true
excludeFromSitemap: true
---
/go/maltodextrin    https://amzn.to/44G08gh 302
/go/maltodextrin/   https://amzn.to/44G08gh 302
/go/fructose    https://amzn.to/3Fb28m4 302
/go/fructose/   https://amzn.to/3Fb28m4 302
/go/sodiumcitrate   https://amzn.to/43dVXWv 302
/go/sodiumcitrate/  https://amzn.to/43dVXWv 302
/go/lemoncrystals   https://amzn.to/4iX47IN 302
/go/lemoncrystals/  https://amzn.to/4iX47IN 302
/go/kitchenscale    https://amzn.to/43dW703 302
/go/kitchenscale/   https://amzn.to/43dW703 302
/go/pigma-micron-colors-005 https://amzn.to/4kbyxI1 302
/go/pigma-micron-colors-005/    https://amzn.to/4kbyxI1 302
/go/pigma-micron-colors-01  https://amzn.to/3YIYS8e 302
/go/pigma-micron-colors-01/ https://amzn.to/3YIYS8e 302
/go/pigma-micron-black  https://amzn.to/3ZczesC 302
/go/pigma-micron-black/ https://amzn.to/3ZczesC 302

{%- for page in collections.all -%}
{%- if page.url and page.data.redirectFrom -%}
{%- for oldUrl in page.data.redirectFrom %}
{{ oldUrl }} {{ page.url }}
{%- endfor %}
{%- endif -%}
{%- endfor -%}
