<!doctype html>
<html lang="{{ metadata.language }}">
	<head>
		<!-- Google Tag Manager -->
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-PPK8QXTB');</script>
		<!-- End Google Tag Manager -->

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		{% set pageTitle = title if overrideBaseTitle else title + " – " + metadata.name %}
		<title>{{ pageTitle }}</title>

		{# to work around facebook debugger not liking homepage urls with a trailing slash #}
		{% set absolutePageUrl = metadata.url + (page.url if page.url != '/' else '') %}

		{% include "partials/meta-tags.njk" %}
		{% include "partials/link-tags.njk" %}
		{% include "partials/style-tags.njk" %}
	</head>
	<body class="stack">
		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PPK8QXTB"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->

		{% include "partials/header.njk" %}

		<main id="main" style="--stack-space: 0">
			{{ content | safe }}
		</main>

		{% if showNewsletter %}
			{% include "partials/subscribe-section.njk" %}
		{% endif %}

		{% include "partials/footer.njk" %}

		{#- Navigation JavaScript #}
		{% js %}{% include "js/hamburger.js" %}{% endjs %}

		<script type="module">{% getBundle "js" %}</script>

		<!-- This page `{{ page.url }}` was built on {% currentBuildDate %} -->
	</body>
</html>
