---
layout: layouts/base.njk
---
<article class="article center stack">
	<header class="article-header stack">
		<h1 class="article-title">{{ title }}</h1>
	</header>

	<div class="article-content stack">
		{{ content | safe }}
	</div>
</article>
