---
layout: layouts/base.njk
showNewsletter: true
---
{# Syntax highlighter CSS for blog posts #}
<style>{% include "node_modules/prismjs/themes/prism-okaidia.css" %}</style>
<style>{% include "css/prism-diff.css" %}</style>

<article class="article center stack">
    <header class="article-header stack">
        {# Category eyebrow (optional) #}
        {% if category %}
        {%- set categoryUrl %}/category/{{ category | slugify }}/{% endset %}
        <a href="{{ categoryUrl }}" class="tag width-fit" data-variant="category">{{ category }}</a>
        {% endif %}

        <h1 class="article-title" style="--stack-space: var(--s-3);">{{ title }}</h1>

        {# Metadata row #}
        <!--<div class="metadata cluster gap-sm">
            <span class="metadata-item color-muted">
                <time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
            </span>
            {% if content %}
            <span class="metadata-divider" aria-hidden="true">·</span>
            <span class="metadata-item color-muted">
                {{ content | readingTime }}
            </span>
            {% endif %}
        </div>-->

        {# Tags cluster #}
        {% set filteredTags = tags | filterTagList %}
        {% if filteredTags.length %}
        <div class="cluster gap-xs">
            {% for tag in filteredTags %}
            {%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
            <a href="{{ tagUrl }}" class="tag">{{ tag }}</a>
            {% endfor %}
        </div>
        {% endif %}
    </header>

    <div class="article-content stack">
        {{ content | safe }}
    </div>
</article>
