<p>I write about a hodgepodge of things. Much of it will be what God’s teaching me—hopefully it encourages you too. I also enjoy deep diving into product recommendations, reviews, and other random but useful nuggets.</p>
